

/* Link {
    color: ;
} */

.abt-img {
    width: 100px;
    height: 100px;
    margin: 50px;
}

.about-row2 {
    margin-top: 20px;
    padding: 20px;
    font-size: 18px;
    line-height: 35px;
}

.about-row3 {
    padding: 20px;
    font-size: 18px;
    line-height: 35px;
}

.about-row4 {
    padding: 20px;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 30px;
}