.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.custom-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(81, 37, 118, 0.1);
    /* Using the same color format */
}

.custom-card-body {
    padding: 20px;
}

.custom-card-title {
    color: rgb(81, 37, 118);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.custom-form-label {
    color: rgb(81, 37, 118);
    font-weight: bold;
}

.custom-form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(81, 37, 118);
    border-radius: 5px;
    margin-bottom: 15px;
}

.custom-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(81, 37, 118);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: rgba(81, 37, 118, 0.8);
}

.custom-link-text {
    text-align: center;
    color: rgb(81, 37, 118);
}

.custom-link {
    color: rgb(81, 37, 118);
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}