.old-price {
    color: #818181;
    font-size: 18px;
    text-decoration: line-through;
    margin:5px;
}

.new-price {
    font-size: 20px;
    color:rgb(81, 37, 118) ;
    /* Use the appropriate color value */
}
.product-price{
    font-weight: bold;
    font-size: 20px;
}
.product-desc{
    font-size: 20px;
}
.btn-cart:hover,.btn-cart{
    color: white;
    margin-bottom: 20px;
}
.categories{
    font-size: 18px;
}
.cat-heading{
    font-weight: bold;
}
.small-img-container{
    height: 100px;
}
