* {
    margin: 0;
}

.nav-bg {
    background-color: rgb(81, 37, 118);
    color: white;
}

.small-nav {
    font-size: 18px;
}
.small-nav li:hover{
    color:rgb(81, 37, 118) ;
}

.brand {
    font-size: 30px;
}

.footer-bg {
    background-color: rgb(81, 37, 118);
}

body {
    font-family: 'Poppins', sans-serif;
}


.card:hover .card-body {
    display: block;
}

.btn-form {
    width: 150px;
    background-color: rgb(81, 37, 118);
    color: white;
    font-size: 18px;
    border: 0;
}

.btn-form:hover{
    background-color: rgb(54, 22, 81);
}

.inp {
    border-radius: 30px;
}