* {
    margin: 0;
}

.navlink-row1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(./assets/saree1.jpg);
    min-height: 100px;
    padding: 20px;
    color: white;
    font-size: 16px;
}

.navPageLink{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navPageLink:hover {
    text-decoration: underline;
}

.nav-bg {
    background-color: rgb(81, 37, 118);
    color: white;
}

.small-nav {
    font-size: 18px;
}
.small-nav li:hover{
    color:rgb(255, 0, 0) ;
}

.brand {
    font-size: 30px;
}

.footer-bg {
    background-color: rgb(81, 37, 118);
}

body {
    font-family: 'Poppins', sans-serif;
}


.card:hover .card-body {
    display: block;
}

.btn-form {
    width: 150px;
    background-color: rgb(81, 37, 118);
    color: white;
    font-size: 18px;
    border: 0;
}

.btn-form:hover{
    background-color: rgb(54, 22, 81);
}

.inp {
    border-radius: 30px;
}



/* product page css */
.column-left-menu {
    position: sticky;
    top: 0;
    height: 100vh;
    /* Adjust as needed */
    overflow-y: auto;
    /* Enable vertical scrolling if content exceeds height */
}

.column-right-product {
    overflow-y: auto;
    /* Enable vertical scrolling */
    height: 100vh;
    /* Adjust as needed */
}
.location{
    text-decoration: none;
    color: white;
}