.bcard-container {
    position: relative;
    overflow: hidden;
}

.center-btn {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}



.card:hover .center-btn {
    opacity: 1;
}